{% extends "layout.njk" %}

{% block content %}

  <div class="card">
   
   <section class="avatar" style="background: url('https://images.unsplash.com/photo-1504978167940-1c24eedd0edf?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60') no-repeat center center / cover"></section>

   <section class="details">

    <h3>Detalhes</h3>

    <div class="item">
      <div>Nome</div>
      <div>Lucas Ferreira</div>
    </div>

    <div class="item">
      <div>Idade</div>
      <div>30</div>
    </div>

    <div class="item">
      <div>Grau de Escolaridade</div>
      <div>Superior Completo</div>
    </div>

    <div class="item">
      <div>Tipo de Aula</div>
      <div>Presencial</div>
    </div>

    <div class="item">
      <div>Acompanhamento</div>
      <div>
        <span>Matematica</span>
        <span>Física</span>
      </div>
    </div>

    <div class="item">
      <div>Desde</div>
      <div>01/01/2020</div>
    </div>

   </section>
  
  
  </div>

{% endblock content %}